---
import RandomSvgPattern from "./RandomSvgPattern.astro";
import { CalendarIcon, Clock } from "@lucide/astro";
import {
    Card,
    CardContent,
    CardDescription,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";

interface Props {
    title: string;
    duration: string;
    date: string;
}

const { title, duration, date } = Astro.props;
---

<Card className="w-full overflow-hidden py-0 rounded-sm">
    <div class="flex h-full w-full">
        <div class="max-w-38 flex flex-1">
            <RandomSvgPattern value={title} />
        </div>
        <div class="w-full">
            <CardHeader>
                <div class="flex justify-between items-start">
                    <div>
                        <CardTitle className="text-xl">{title}</CardTitle>
                        <CardDescription className="mt-1"
                            >Course done at University of Madrid</CardDescription
                        >
                    </div>
                </div>
            </CardHeader>
            <CardContent>
                <div class="flex flex-wrap gap-4 text-sm text-muted-foreground">
                    <div class="flex items-center">
                        <Clock class="mr-1 h-4 w-4" />
                        <span>Duration: 40h</span>
                    </div>
                    <div class="flex items-center">
                        <CalendarIcon class="mr-1 h-4 w-4" />
                        <span>Date: 23-10-2018</span>
                    </div>
                </div>
            </CardContent>
        </div>
    </div>
</Card>
