---
import MainHead from "@/components/MainHead.astro";
import { getLangFromUrl } from "@/i18n/utils";
import { ThemeScript } from "astro-theme-toggle";

interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang} class="bg-background text-foreground">
    <head>
        <MainHead title={title} description={description} />
        <ThemeScript />
    </head>
    <body>
        <slot />
    </body>
</html>
