---
import MainHead from "@/components/MainHead.astro";
import { ThemeScript } from "astro-theme-toggle";

interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <MainHead title={title} description={description} />
        <ThemeScript />
    </head>
    <body class="flex flex-col min-h-screen w-full h-full">
        <slot />
    </body>
</html>
